.project-block {
  width: 100%;
  margin: 0 0 2rem 0;
  position: relative;
  background-color: $light-gray;

  @include media-breakpoint-up(xl) {
    margin: 1.25rem;
    width: calc(100% - 2.5rem);
  }

  &__link {
    display: block;
    color: $black;
    &:hover {
      color: $black;
      & .project-block__overlay {
        opacity: 1;
      }
    }
  }
  &__img {
    @include aspectRatio(23,12);
    width: 100%;
    background-color: $light-gray;
    background-size: cover;
    background-position: 50%;
  }
  &__overlay {
    @include remSize(font-size, 14);
    @include absoluteFullContainer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($black, 0.3);
    color: $white;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;

    @include media-breakpoint-up(md) {
      @include remSize(font-size, 16);
    }

    @include media-breakpoint-up(lg) {
      @include remSize(font-size, 18);
    }

    @include media-breakpoint-up(xl) {
      @include remSize(font-size, 24);
    }
  }
  &__title {
    @include remSize(font-size, 14);
    padding: 1rem 1rem 0;
    line-height: 1.25;
    font-weight: 700;
    height: 3.25em;
    overflow: hidden;
    margin-bottom: 2em;

    @include media-breakpoint-up(md) {
      @include remSize(font-size, 16);
    }

    @include media-breakpoint-up(lg) {
      @include remSize(font-size, 18);
    }

    @include media-breakpoint-up(xl) {
      @include remSize(font-size, 24);
    }
  }
  
  &__bottom {
    @include remSize(padding, 0, 16, 16);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__owner {
    @include remSize(font-size, 11);
    color: $black;

    & i {
      font-size: 1.2em;
    }

    @include media-breakpoint-up(md) {
      @include remSize(font-size, 12);
    }

    @include media-breakpoint-up(lg) {
      @include remSize(font-size, 13);
    }

    @include media-breakpoint-up(xl) {
      @include remSize(font-size, 14);
    }

    &:hover {
      color: $black;
    }
  }
  
  &__likes {
    @include remSize(font-size, 14);
    @include clearButton;
    color: $black;
    flex: 6em 0 0;
    text-align: right;

    & i {
      font-size: 1.2em;
      transition: color 0.25s ease-in-out;
    }

    @include media-breakpoint-up(md) {
      @include remSize(font-size, 16);
    }

    @include media-breakpoint-up(lg) {
      @include remSize(font-size, 18);
    }

    @include media-breakpoint-up(xl) {
      @include remSize(font-size, 24);
    }
    &:hover, &.active {
      & i {
        color: $red;
      }
    }
  }
}